adf/pipeline/03-1200-Argus_Media_daily_update.json
{
	"name": "03-1200-Argus_Media_daily_update",
	"properties": {
		"activities": [
			{
				"name": "nb_argus_daily_update",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "setvar_v_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/Workspace/productzone-uk/03_toTransformed/argus/nb_transformed_argus_daily",
						"type": "Expression"
					},
					"baseParameters": {
						"p_date": "@variables('v_date')"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DBW_JOB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "setvar_v_date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_date",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy/MM/dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "03 Transformed"
		},
		"annotations": []
	}
}